@media screen and (max-width: 600px) {

    .desktop {
        display: none;
    }

    html {
        overflow-x: hidden;
    }

    button {
        cursor: pointer;
    }

    .fade-in {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        will-change: opacity, transform;
    }

    .fade-in.show {
        opacity: 1;
        transform: translateY(0);
    }

    .fade-out {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .firstScreen {
        position: absolute;
        left: 0;
        right: 0;
    }

    .center_container_jokes {
        position: relative;
        height: auto;
        width: 100%;
        padding: 50px;
        box-sizing: border-box;
        margin: 0 auto 200px;
    }

    .titleBlock {
        position: relative;
        height: 90vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .titleCatsNJokes {
        width: 100%;
        position: relative;
        display: flex;
        margin-top: auto;
        margin-bottom: 50px;
        font-size: 65px;
        line-height: 111.5%;
        color: white;
    }

    .titleDownLine {
        height: auto;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
    }

    .toLogin {
        position: relative;
        width: auto;
        height: auto;
        margin: auto auto 0 0;
        border-radius: 30px;
        background-color: white;
        color: #3A2E5D;
        display: flex;
        text-align: center;
        vertical-align: center;
        font-size: 22px;
        line-height: 111.5%;
        padding: 10px 20px;
        text-decoration: none;
    }

    .authors {
        color: white;
        font-size: 14px;
        line-height: 130%;
        margin-right: 0;
        margin-left: auto;
    }

    .CATagories {
        display: flex;
        flex-direction: column;
    }

    .CATagories .rightColumn {
        order: -1;
    }

    .CATagoriesTitle {
        font-size: 40px;
        color: #3A2E5D;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .rightColumn {
        width: auto;
        background-color: #524184;
        border-radius: 20px;
        padding: 15px;
    }

    .dayJokeTitle {
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .dayJoke {
        color: white;
        font-size: 20px;
        height: auto;
        align-content: center;
    }

    .allJokes {
        width: auto;
        margin-right: auto;

        padding: 5px 5px;
        color: #3A2E5D;
        border: 2px solid #3A2E5D;
        background-color: transparent;

        font-size: 20px;
        border-radius: 32px;

        margin-bottom: 5px;

        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .otherButtons {
        display: flex;
        flex-wrap: wrap;
    }

    .categoryButton {
        padding: 5px 5px;
        color: #3A2E5D;
        border: 2px solid #3A2E5D;
        background-color: transparent;
        font-size: 20px;
        border-radius: 32px;
        margin-right: 5px;
        margin-bottom: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .active-category {
        color: white;
        background-color: #3A2E5D;
    }

    .leftColumn {
        margin-bottom: 15px;
    }

    .joke, .CatImage {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        background-color: #524184;
        border-radius: 20px;
        overflow: hidden;
        break-inside: avoid;
    }

    .joke {
        padding: 20px;
        border: 3px solid white;
        color: white;
        font-size: 25px;
    }

    .CatImage img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    .buttonsBachForward {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .backButton, .forwardButton {
        font-size: 25px;
        color: #352B53;
        background-color: transparent;
        border: 3px solid #352B53;
        border-radius: 20px;
        padding: 5px 10px;
        cursor: pointer;
    }

    .footer {
        position: relative;
        margin-bottom: 400px;
    }
}