{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_profile.css') }}">
{% endblock %}

{% block content %}
    <div class="center_container">

        <div class="topLine">
            <a class="title geologica-bold" href="{{ url_for('main.index') }}">КОТЫ И<br>АНЕКДОТЫ</a>
            <div class="AccountTitle geologica-bold">ЛИЧНЫЙ КАБИНЕТ.АДМИН</div>
            <div class="LogOut"><a class="LogOutA geologica-regular" href="{{ url_for('auth.logout') }}">выйти</a></div>
        </div>

        <div class="centerLine">
            <div class="suggestJokes geologica-semibold">Предложенные анекдоты</div>
            <div class="suggestCats geologica-semibold">Предложенные изображения</div>
        </div>

        <div class="centerDIV">
            <div class="leftColumn" id="leftColumn"></div>
            <div class="rightColumn" id="rightColumn"></div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/suggestedJokes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/suggestedCats.js') }}"></script>

{% endblock %}