{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock %}

{% block content %}

    <div class="center_container">

        <div class="leftColumn">
            <a class="title geologica-bold" href="{{ url_for('main.index') }}">КОТЫ И АНЕКДОТЫ</a>
            <div class="toCenter">
                <div class="suggestCat">
                <div class="suggestCatTitle geologica-regular">Предложить изображение</div>
                <form class="suggestCatForm" method="post" action="{{ url_for('auth.suggest_image') }}" enctype="multipart/form-data">
                    <input type="file" id="catFileInput" name="cat_image" accept="image/*" hidden>
                    <button type="button" id="customFileButton" class="suggestCatButton geologica-regular">выбрать</button>
                    <span id="fileNameLabel" class="fileNameLabel geologica-regular">файл не выбран</span>
                    <button class="suggestCatSubmit geologica-medium" type="submit">отправить</button>
                </form>
            </div>

            <div class="suggestJoke">
                <div class="suggestJokeTitle geologica-regular">Предложить анекдот</div>
                <form class="suggestJokeForm" method="post" action="{{ url_for('auth.suggest_joke') }}">
                    <script src="{{ url_for('static', filename='js/autoresize.js') }}"></script>
                    <textarea class="suggestJokeInput geologica-regular" name="text" placeholder="текст анекдота" oninput="autoResize(this)"></textarea>
                    <div class="categoryQ">
                        <div class="categoryTitle geologica-medium">категория</div>
                        <div class="custom-select-container">
                            <div class="selected-option geologica-medium">Выбрать категорию</div>
                            <div class="options-list">
                                {% for cat in categories %}
                                    <div class="option-item geologica-regular">{{ cat }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="category" id="selected-category">
                    <button class="suggestCatSubmit geologica-medium" type="submit">отправить</button>
                </form>
            </div>
            </div>
        </div>

        <div class="centerColumn">
            <div class="toBottom">
                <div class="AccountTitle geologica-bold">ЛИЧНЫЙ КАБИНЕТ</div>
                <div class="LogOut"><a class="LogOutA geologica-regular" href="{{ url_for('auth.logout') }}">выйти</a></div>
            </div>
            <div class="statistics">
                <div class="statisticsTitle geologica-bold">Статистика</div>
                <div class="statisticsJokesTitle geologica-medium">Предложенные анекдоты</div>
                <div class="statisticsJokes" id="statisticsJokes"></div>
                <div class="joke-navigation">
                    <button class="jokes-prev geologica-medium" style="display: none;"><img src="../static/svg/previousArrow.svg" class="previousArrow"></button>
                    <button class="jokes-next geologica-medium" style="display: none;"><img src="../static/svg/nextArrow.svg" class="nextArrow"></button>
                </div>
            </div>
        </div>

        <div class="rightColumn">
            <div class="nothing"></div>
            <div class="statisticsCatsTitle geologica-medium">Предложенные изображения</div>
            <div class="statisticsCats" id="statisticsCats"></div>
            <div class="pagination-buttons">
                <button id="catsPrevPage" class="catsPrevPage" style="display: none;"><img src="../static/svg/previousArrow.svg" class="previousArrow"></button>
                <button id="catsNextPage" class="catsNextPage" style="display: none;"><img src="../static/svg/nextArrow.svg" class="nextArrow"></button>
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/uploadCat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/categoryULIL.js') }}"></script>
    <script src="{{ url_for('static', filename='js/load_jokes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/load_cats.js') }}"></script>
{% endblock %}